__pycache__/
node_modules/
.vscode/
.venv/
*.py[cod]
*.pyo
*.swp
.DS_Store
.env
frontend/dist/
backend/__pycache__/
backend/*.pyc
backend/.venv/
frontend/.vite/
frontend/node_modules/
backend/runtime/
